h1 {
    color: white;
    margin-left: 30px;
} 

/*.header * {
    border:solid;
}*/

.header{
    background-color: rgb(225, 97, 198);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    color: white;
}

body{
    background-color: #808080;
}
/*'a:link' nos permite personalizar el estilo de los
enlaces.*/
a:link {
    color: white;
}
/* 'a:visited' nos permite personalizar el estilo de los
enlaces visitados*/
a:visited {
    color: rgb(250, 250, 250);
}

.Menu {
    margin-right: 60px;
    margin-top: 25px;
}

.Menu a{
    margin-right: 20px;
}

.item {
    position: relative;
}

.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p {
    opacity: 1;
}

.item:hover img {
    opacity: 0.33;
}

